/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+DE+Grund:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Chosen Colour Scheme

    #F5ECD1 -- Light Beige
    #DAD4B5 -- Beige
    #A73121 -- Medium Red
    #952323 -- Warm Red

*/

/* Colour Variables */
:root{

    --off-white: #fafafa;
    --cream: #F5ECD1;
    --beige: #DAD4B5;
    --medium-red: #A73121;
    --rich-red: #8A4133;
    --Warm-red: #952323;

}



/* ------------- Global Styles ------------- */
/* ------------- Overrides ------------- */

body {
    font-family: "lobster", sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

/* ------------- NavBar ------------- */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--cream);
}

.navbar-brand {
    font-weight: bold;
    color: var(--off-white);
    padding-left: 40px;
    padding-right: 25px;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: var(--beige);
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: var(--off-white);
    padding-left: 20px;
}

.navbar .navbar-nav a:hover {
    color: var(--beige);
}

.navbar .navbar-toggler {
    border: 0;
}

/* ------------- Hero Section ------------- */

.hero-container {
    height: 75vh;
    background: url("../images/heart-hands.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 64px;
    position: relative;
}

/* ------------- Page Headers ------------- */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    padding: 3px 0px;
}

.page-header h2 {
    margin-top: 0;
}

/* ------------- Content Containers ------------- */

.content-container {
    padding-top: 20px;
    padding-bottom: 50px;
}

.container-beige {
    background-color: var(--beige);
}

.container-light-beige {
    background-color: var(--cream);
}

.container-wrapper--red {
    background-color: var(--rich-red);
    color: var(--off-white);
}

/* ------------- Jumbotron ------------- */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color:var(--off-white);
    font-weight: bold;
    padding-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: var(--off-white);
}

/* ------------- Information Section ---------- */

.info-p {
    font-family: 'Roboto', sans-serif;
}

/* ------------- Buttons ------------- */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 300px;
}

.btn--red {
    color: var(--off-white);
    background-color: var(--medium-red);
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: var(--Warm-red);
    color: var(--off-white);
}

/* ------------- Activities Section ---------- */

.card {
    text-align: center;
    margin-bottom: 40px;
    border-radius: 25px;
}

.card i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-text{
    font-family: 'Roboto', sans-serif;
}

.card .btn {
    background-color: var(--medium-red);
    /* border-radius: 15px; */
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.card .btn--red:hover,
.card .btn--red:active,
.card .btn--red:focus,
.card .btn--red:active:focus {
    background-color: var(--Warm-red);
    color: var(--off-white);
}


/* ------------ Links/Resources Section  ------------ */


.accordion-item {
    font-family: 'Roboto', sans-serif;
}

.accordion-item .accordion-button {
    background-color: var(--beige);
    color: black
}

.accordion-body {
    background-color: var(--cream);

}

.accordion-body p a {
    text-decoration: none;
    color: var(--Warm-red);
}


/* --------------- Footer ---------------- */

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: var(--rich-red);
    background-color: var(--beige);
    transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    color: var(--off-white);
    background: var(--medium-red);
}

#footer-details {
    padding: 20px;
    background-color: var(--rich-red);
}